.wrapper{            
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.Headers{
    color: rgb(148, 121, 29);
    text-align: center;
	font-size: 24pt;
}

#whole{
    display: flex;
    align-items: flex-start;
}

.container{
    position:sticky;
    top: 0;
}

.container-contents{
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 1vw;
    
}

.links{
    color: bisque;
    text-decoration: none;
    margin: 0;

}

.column{
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    /* align-content: flex-end; */
    position: sticky;
    top: 45px;
}

 /* .sidebar{
    position: relative;
    
    left: 80vw;
} *> */

.pics{
    width: 20vw;
    height: auto;
}

.landscapes {
    height: 400px;
    width: 1000px;
    object-fit: cover;
}

.pics{
    display: flex;
    justify-content: center;

}

#mypast {
    top: 5vh;
    margin-right: 20%;
    text-align: left;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
    top: 5%;
    bottom:auto;
    color: azure;
}

#mypresent {
    margin-right: 20%;
    text-align: left;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
    top: 5%;
    bottom:auto;
    color: azure;
}

body{
    background-image: url("../Images/henrique-hanemann-Ha4Mrwo04C8-unsplash.jpg");
}

